// HOMEPAGE THREE CSS
.template-three {
    background: #F6F6F6;
}

// FEATURE FOUR CSS
.rts-hosting-feature-four {
    .rts-section-description {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
            color: var(--color-primary);
            font-weight: var(--semibold);
        }
    }

    .feature__single {
        background: #F4F9FF;
        padding: 35px 25px 35px 35px;
        border-radius: 10px;
        transition: var(--transition);

        &--icon {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            background: #EAF1FF;
            display: grid;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            transition: var(--transition);
        }

        &--title {
            display: inline-block;
            font-size: 20px;
            font-weight: var(--bold);
            color: var(--color-secondary);
            margin-bottom: 15px;
            text-transform: capitalize;
        }

        &--description {
            font-weight: var(--regular);
            font-family: var(--font-secondary);
            margin-bottom: 30px;
        }

        &--btn {
            & .round__btn {
                background: #EAF1FF;
            }
        }

        &:hover {
            .feature__single {
                &--icon {
                    background: var(--color-primary);

                    svg path {
                        fill: var(--color-white);
                    }
                }

                &--btn {
                    & .round__btn {
                        background: var(--color-primary);
                        color: var(--color-white);
                    }
                }

            }
        }
    }
}

// SUPPORT AREA
.rts-support {
    &.black__friday--support{
        background: #F4F9FF;
        padding: 90px 0;
        & .rts-support__wrapper{
            padding: 0 80px;
            @include mq($md){
                padding: 0 40px;
            }
        }
    }
    &__wrapper {
        background: #F4F9FF;
        border-radius: 10px;
        padding: 60px 80px;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        
        @include mq($sm) {
            padding: 60px;
            display: flex;
            flex-direction: column-reverse;
            gap: 40px;
        }
        @include mq($xs) {
            padding: 20px;
        }


        &:before {
            @include ph;
            background-image: url(../images/support/support__bg.svg);
            background-repeat: no-repeat;
            background-position: 54% 60%;
            z-index: -1;
            @include mq($xs){
                display: none;
            }
        }
        &.bg-white{
            &:before {
                @include ph;
                background-image: url(../images/support/support__bg.svg);
                background-repeat: no-repeat;
                background-position: 54% 60%;
                z-index: -1;
                opacity: .5;
                @include mq($xs){
                    display: none;
                }
            }
        }

        &--content {
            h3 {
                font-weight: var(--bold);
                color: var(--color-secondary);
                margin-bottom: 20px;

                @include mq($xs) {
                    font-size: 30px;
                    line-height: 45px;
                }
            }

            p {
                max-width: 440px;
            }

            .feature {
                margin-top: 25px;
                margin-bottom: 30px;

                &__list {
                    @include ul;
                    column-count: 2;
                    width: 80%;
                    @include mq($md){
                        width: 90%;
                    }
                    @include mq($xs) {
                        width: 100%;
                    }

                    .feature__item {
                        position: relative;
                        margin-left: 25px;
                        color: var(--btc);
                        font-family: var(--font-secondary);
                        font-weight: var(--medium);
                        display: inline-block;
                        margin-bottom: 0;
                        text-transform: capitalize;

                        &::before {
                            position: absolute;
                            left: -25px;
                            top: 50%;
                            transform: translateY(-50%);
                            content: '\f00c';
                            font-family: var(--fontawesome);
                            height: 16px;
                            width: 16px;
                            font-size: 10px;
                            font-weight: 800;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            background: var(--color-primary);
                            color: var(--color-white);
                        }
                    }
                }
            }

            .support-btn {
                padding: 14px 24px;
            }

            .btn__two {
                color: var(--color-white);
                font-weight: var(--semibold);
            }
        }

        &--image {
            @include mq($sm) {
                position: unset;
                transform: none;
            }
        }
    }
}
