/*
  INDEX ELEVEN SCSS
*/

/* 
    Banner 11
*/

/* Domain Listing */

/* Pricing Area */


/* Feature Domain Info */
.feature__bg {
    background-color: #FFF4ED;
}

.feature__image {
    background-color: #FFD8BF;
    border-radius: 10px;
    max-width: 600px;
    @include mq($md) {
        max-width: 767px;
    }
}

.feature__content {
    max-width: 470px;
    color: var(--color-secondary);
    @include mq($md) {
        max-width: 767px;
    }
    &__title {
        font-size: 40px;
        color: var(--color-secondary);
    }

    p {
        font-family: var(--font-secondary);
    }

    .rts-btn {
        background: var(--color-primary);
        color: var(--color-white);

        &:hover {
            color: var(--color-primary);
            background: var(--color-white);
        }
    }

    .feature__list {
        h5 {
            color: var(--color-secondary);
        }
    }
}

/* Why Choose content */
.whychoose__eleven {
    background-color: #FFF4ED;

    .card-feature {
        &::before {
            background: var(--choose-card);
        }

        &:hover {
            .card-feature__single--icon {
                background: var(--color-primary);
            }
        }
    }
}

/* testimonial */
.testimonal__eleven {
    .rts-testimonial__single {
        background: #FFF4ED;

        &::before {
            background: var(--testimonial-card);
        }

        .rating i {
            transition: var(--transition);

        }

        &:hover {
            .rating i {
                color: var(--color-white);
            }
        }
    }

    .rts-dot__button .swiper-pagination-bullet {
        background: transparent;
        border: 1px solid #FFD0B2;

        &.swiper-pagination-bullet-active {
            background-color: var(--color-primary);
            border-color: var(--color-primary);
        }

    }
}

// faq eleven
.faq__eleven {
    .rts-section__title {
        color: var(--color-primary);
    }

    .accordion-item {
        border-bottom: 1px solid #FFD8BF !important;
    }

    .accordion .accordion-item.active {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFF4ED 100%) !important;
        filter: drop-shadow(0px 4px 30px rgba(224, 231, 253, 0.2));
    }

    .accordion .accordion-item .accordion-header .accordion-button::after {
        border: 1px solid #FFD8BF;
        color: var(--color-primary);
    }

    .accordion .accordion-item .accordion-header .accordion-button {
        color: #2D3C58;
    }



}

// cta eleven
.cta__eleven {
    .rts-cta-two__wrapper {
        background: linear-gradient(91.95deg, #FF863D 3.85%, #FD5D07 101.14%);

        .cta__shape {
            &::after {

                background: linear-gradient(180deg, #FF863C 0%, #FD5D07 100%);
                transform: rotate(-180deg);
                left: 16%;
            }

            &::before {
                background: linear-gradient(180deg, #FD5D07 0%, rgba(253, 93, 7, 0) 100%);
            }
        }

        .cta-btn .contact__us {
            background-color: var(--color-white);
        }

    }

}

// footer eleven
.footer__eleven {

    .rts-footer__widget .contact-method a span,
    .rts-footer__widget form.newsletter button {
        background: var(--color-primary);
    }

    .rts-footer__widget form.newsletter input {
        border: 1px solid #FFD8BF;
    }

    .rts-footer__widget--menu ul li a,
    .rts-footer__widget .contact-method a {
        &:hover {
            color: var(--color-primary);
        }
    }

    .social__media--list .media {
        border-color: #FFD8BF;
        color: var(--color-primary);

        &:hover {
            background: var(--color-primary);
            color: var(--color-white);
        }
    }

}

// back to top
.style__eleven {

    .progress-wrap::after {
        border-color: var(--color-primary);
        color: var(--color-primary);
    }
    .progress-wrap svg{
        background: transparent;
    }
    .progress-wrap svg.progress-circle path{
        stroke: var(--color-primary);
    }

    .side-bar button i{
        background-color: var(--color-primary);
    }
}