/* ========= WORDPRESS HOSTING =========== */
.rts-wordpress-section-community{
    .section-title{

    }
    .brand-logo-area{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 120px;
        margin-top: 60px;
    }
}
.rts-wordpress-hosting-feature-area{
    .section-title-area{
        max-width: 596px;
        margin: auto;
        margin-bottom: 60px;
    }
}


.rts-hero {
    &.wp__banner {
      padding: 330px 0 240px;
      .hero__banner__wrapper{
        padding: 0;
      }
      & .rts-hero__content{
          text-align: center;
          h1{
              &::before{
                  position: unset;
              }
          }
          &--group{
              justify-content: center;
          }
      }
      & .rts-hero__video {
          position: absolute;
          overflow: hidden;
          width: 100%;
          height: 100%;
          top: 0;
          z-index: -1;
          &::before{
              @include ph;
              background: var(--banner-one-bg);
              opacity: .3;
          }
          video {
              min-width: 100%;
              min-height: 100%;
          }
        }
        
    }
   
  }